body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0; 
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  
}

.section{
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 0;
  margin-bottom: 0;
}

  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  }

.header-cont {
  display: flex;
  align-items: center;
  }

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-list{
  display: flex;
  gap: 40px;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
  }

  .adress-list{
    display: flex;
    gap: 40px;
  }

.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

/* main */

/* -----Hero ---------*/

.section-hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}



.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}

.button-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  text-align: center;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  margin-top: 48px;
}

.button-hero:hover,
.button-hero:focus {
  background: #404bbf;
}

/* Advantages */

.advantages-title {
}

.advanteges-list{
  display: flex;
  gap: 24px;
}


.advanteges-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advanteges-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team section */
.section-team {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;

}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
}
.team-list-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}
.team-photo {
}

.cont-team-info {
  margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;  
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
  


/* Portfolio */

.section-portfolio {
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item-cont {
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  }

.portfolio-list-item {  
}


.list-item-pic {
  background-color: #fff;
}

.list-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px
}
.list-butitle-product {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* Footer */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.foter-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  padding-top: 16px;
}
